
<%= form_tag("/create") do %>
        <h2>個人情報登録のご登録</h2>
	 	<div class="form-group">
         <label for="task_name">お名前</label>
		 <input placeholder="お名前"  class="form-control" id="task_name" type="text" name="task[name]" />

		</div>

		<div class="form-group">
         <label for="task_description">詳しい内容</label>
		 <textarea placeholder="ご説明" class="form-control" id="task_description" type="text" name="task[description]">
		 </textarea>
		</div>

		<div class="form-group">
		<!--  <input type="submit" name="commit" value="登録する" class="btn btn-primary" data-disable-with="登録する" /> -->
        <!-- 以下の<$= submit_tag と同様の意味 -->
         <%= submit_tag "登録する", class:"btn btn-primary" %>

		</div>
<% end %>
