/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";




*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family:"myfont";
    src: url("fonts/odstemplik/odstemplik.otf") format("opentype"), url("fonts/odstemplik/odstemplikBold.otf") format("opentype")
}

#sub {
    font-family: "myfont";
    color: white;
    font-size: 45px;
}

header{
    background-color: black;
    padding: 5px 0;
}

.top-text{
    text-align: center;
    padding: 10px 0px;
}

.top-text h1{
    color: white;
    font-size: 40px;
    font-family: "myfont";
}

.top-text #sub{
    font-family: Serif;
    font-size: 20px;
}

/*navbar {*/
/*    padding-top: -30px;*/
/*}*/

nav h3{
    font-family: Serif;
}

nav .fas, nav .far{
    color: pink;
}

.night-sky{
    padding: 200px 0px;
    background-attachment: fixed;
    /*画像を背景の位置に固定する*/
}

.night-sky h2{
    font-family: serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.night-sky p{
    color: white;
    text-align: left;
    margin: 0 80px ;

}

.carousel-item{
    height: auto 500px;
    margin-bottom: -30px;

/*background-size: 500% auto;*/
/*background-image: cover;*/
}

/*.carousel-inner{*/
/*    background-size: auto 100vh;*/
    

.service-list{
    background-color: #333;
}

.service-list h2{
    text-align: center;
    padding: 50px;
    font-family: "myfont";
    color: white;
    font-size: 45px;
}

.service-img{
    margin-bottom: 30px;
}

.service-img1{
    width: 100%;
}

.container h3{
    color: white;
}
.container p{
    color: white;
}

.service-discription{
    padding: 50px;
}

.info{
    border: solid 2px white;
    margin: 10px;
    padding: 10px;
}

.info p{
    text-align: left;
}

.icon{
    font-size: 100px;
    color: white;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
}

footer p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

footer ul li {
    list-style: none;
    /*箇条書きの・を除く*/
}

footer ul li a{
    color: #aaa;
}

footer ul li a:hover{
    /*aタグに対してマウスをのせた時のcss*/
    color: #fff;
    /*下線を取り除く*/
    text-decoration: none;
}


.form-group{
    text-align: center;
}

.form-control{
    display: inline-block;
}

.btn{
    display: inline-block;
}
